development:
  secret_key_base:
  ec2_access_key: some_key
  ec2_access_secret: some_value
  buccaneer_region:
  buccaneer_bucket:

test:
  secret_key_base:
  ec2_access_key: some_key
  ec2_access_secret: some_value
  buccaneer_region:
  buccaneer_bucket:

staging:
  secret_key_base:
  ec2_access_key: some_key
  ec2_access_secret: some_value
  buccaneer_region:
  buccaneer_bucket:

production:
  secret_key_base:
  ec2_access_key:
  ec2_access_secret:
  buccaneer_region:
  buccaneer_bucket:
